body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f2f5;
}

/* AUTH PAGE */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background: white;
    padding: 30px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form-box h2 {
    text-align: center;
    color: #1877f2;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1877f2;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #166fe5;
}

p {
    text-align: center;
    color: #1877f2;
    cursor: pointer;
}

/* NAVBAR */
.navbar {
    background: #1877f2;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LAYOUT */
.container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 25%;
    background: white;
    padding: 15px;
    border-radius: 8px;
    height: fit-content;
}

.feed-container {
    width: 50%;
    margin-left: 20px;
}

/* POST */
.create-post {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
}

.post {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.post button {
    width: auto;
    margin-top: 10px;
    padding: 6px 10px;
}